@mixin media-tablet {
  @media screen and (max-width: 1080px) {
    @content;
  }
}
@mixin media-mobile {
  @media screen and (max-width: 680px) {
    @content;
  }
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-space-between {
  @include flex-align-center;
  justify-content: space-between;
}
@mixin flex-center {
  @include flex-align-center;
  justify-content: center;
}
@mixin background-img($url, $repeat, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $size;
}

@mixin subtitle($font-size, $width, $blank) {
  font-size: $font-size;
  font-weight: bold;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  &:before, &:after {
    content: '';
    display: block;
    width: $width;
    height: 0.2rem;
    background-color: #666666;
    position: absolute;
    top: 2rem;

  }
  &:after {
    right: $blank;
  }
  &::before {
    left: $blank;
  }
}