html {
  font-size: 9px;
}

/* reset start */
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

em,
address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.span-large {
  display: block;
}

/* reset end */
.st-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(136, 136, 136, 0.5647058824);
  padding: 0 20rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.st-header .header-logo {
  width: 100px;
  padding: 15px;
}
.st-header .header-menu {
  display: flex;
  align-items: center;
}
.st-header .header-menu li a {
  font-size: 15px;
  padding: 20px;
  color: #ffffff;
}
.st-header .header-menu li a:hover {
  color: rgba(210, 247, 181, 0.5647058824);
}

.sec-main {
  background-image: url("../img/avoback.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 55vw;
  color: #ffffff;
  padding: 35% 5% 0;
}
.sec-main .main-title {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 8rem;
  text-align: right;
}

.sec-detail {
  position: relative;
  padding-top: 40rem;
}
.sec-detail .detail-title {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
}
.sec-detail .detail-title:before, .sec-detail .detail-title:after {
  content: "";
  display: block;
  width: 25rem;
  height: 0.2rem;
  background-color: #666666;
  position: absolute;
  top: 2rem;
}
.sec-detail .detail-title:after {
  right: 30rem;
}
.sec-detail .detail-title::before {
  left: 30rem;
}
.sec-detail .detail-wrap {
  margin-bottom: 10rem;
  position: relative;
}
.sec-detail .detail-wrap .detail-img {
  width: 55rem;
}
.sec-detail .detail-wrap .detail-maintxt {
  font-size: 4rem;
  line-height: 5rem;
  color: #4F782D;
}
.sec-detail .detail-wrap .detail-subtxt {
  font-size: 2rem;
  line-height: 3rem;
}
.sec-detail .detail-wrap:nth-of-type(1) {
  margin-bottom: 30rem;
}
.sec-detail .detail-wrap:nth-of-type(1) .detail-txtwrap {
  position: absolute;
  top: 20rem;
  left: 50rem;
}
.sec-detail .detail-wrap:nth-of-type(1) .detail-maintxt {
  text-align: right;
}
.sec-detail .detail-wrap:nth-of-type(1) .detail-subtxt {
  width: 65rem;
  height: 35rem;
  background-color: rgba(79, 120, 45, 0.6980392157);
  color: #ffffff;
  padding: 6rem 5rem;
}
.sec-detail .detail-wrap:nth-of-type(2) {
  display: flex;
  align-items: center;
  padding-left: 20vw;
}
.sec-detail .detail-wrap:nth-of-type(2) .detail-img {
  margin-left: 8rem;
}
.sec-detail .detail-wrap:nth-of-type(2) .detail-subtxt {
  margin-top: 2rem;
  color: #444444;
}

.sec-intro {
  position: relative;
  padding-top: 40rem;
}
.sec-intro .intro-title {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
}
.sec-intro .intro-title:before, .sec-intro .intro-title:after {
  content: "";
  display: block;
  width: 25rem;
  height: 0.2rem;
  background-color: #666666;
  position: absolute;
  top: 2rem;
}
.sec-intro .intro-title:after {
  right: 30rem;
}
.sec-intro .intro-title::before {
  left: 30rem;
}
.sec-intro .intro-subtxt {
  text-align: center;
  font-size: 3rem;
  color: #4F782D;
  margin-bottom: 5rem;
}
.sec-intro .intro-list {
  margin: 0 20rem;
}
.sec-intro .intro-list .intro-list__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin-bottom: 5rem;
}
.sec-intro .intro-list .intro-list__item:nth-child(2) {
  flex-direction: row-reverse;
}
.sec-intro .intro-list .intro-list__item .intro-img {
  min-width: 30rem;
}
.sec-intro .intro-list .intro-list__item .intro-txt {
  min-width: 200px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #444444;
}

.sec-char {
  margin: 10rem 0 15rem;
}
.sec-char .char-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  width: 70%;
  margin: 0 auto 100px;
}
.sec-char .char-list .char-list__item {
  padding: 5.1rem;
  min-width: 220px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(79, 120, 45, 0.6980392157);
}
.sec-char .char-list .char-list__item .char-img {
  width: 8rem;
  margin: 0 auto 5rem;
}
.sec-char .char-list .char-list__item .char-txt {
  font-size: 2rem;
}
.sec-char .char-btn {
  font-size: 3rem;
  display: block;
  margin: 0 auto;
  border: none;
  background-color: rgba(79, 120, 45, 0.6980392157);
  width: 50rem;
  height: 8rem;
  border-radius: 1rem;
  color: #ffffff;
}
.sec-char .char-btn:hover {
  background-color: #4F782D;
}

.st-footer {
  background-color: #F5F5F5;
  padding: 5rem 20rem;
  position: relative;
}
.st-footer .footer-head {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.st-footer .footer-name {
  font-size: 1.8rem;
}
.st-footer .footer-info .footer-info__item {
  margin: 2rem 0;
}
.st-footer .footer-logo {
  width: 10rem;
  position: absolute;
  bottom: 5rem;
  right: 20rem;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 8px;
  }
  .st-header {
    padding: 0 5vw;
  }
  .sec-main .main-title {
    font-size: 6rem;
    line-height: 7rem;
  }
  .sec-detail .detail-title {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-detail .detail-title:before, .sec-detail .detail-title:after {
    content: "";
    display: block;
    width: 15rem;
    height: 0.2rem;
    background-color: #666666;
    position: absolute;
    top: 2rem;
  }
  .sec-detail .detail-title:after {
    right: 20rem;
  }
  .sec-detail .detail-title::before {
    left: 20rem;
  }
  .sec-detail .detail-wrap .detail-img {
    width: 45rem;
  }
  .sec-detail .detail-wrap .detail-maintxt {
    font-size: 3rem;
    line-height: 4rem;
  }
  .sec-detail .detail-wrap .detail-subtxt {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .sec-detail .detail-wrap:nth-of-type(1) {
    margin-bottom: 40rem;
  }
  .sec-detail .detail-wrap:nth-of-type(1) .detail-txtwrap {
    top: 25rem;
    left: 35rem;
  }
  .sec-detail .detail-wrap:nth-of-type(1) .detail-subtxt {
    max-width: 45rem;
    height: auto;
    padding: 5rem 4rem;
  }
  .sec-detail .detail-wrap:nth-of-type(2) {
    padding-left: 15vw;
  }
  .sec-detail .detail-wrap:nth-of-type(2) .detail-img {
    margin-left: 5vw;
  }
  .sec-intro .intro-title {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-intro .intro-title:before, .sec-intro .intro-title:after {
    content: "";
    display: block;
    width: 15rem;
    height: 0.2rem;
    background-color: #666666;
    position: absolute;
    top: 2rem;
  }
  .sec-intro .intro-title:after {
    right: 20rem;
  }
  .sec-intro .intro-title::before {
    left: 20rem;
  }
  .sec-intro .intro-list {
    margin: 0 15rem;
  }
  .sec-intro .intro-list .intro-list__item .intro-img {
    min-width: 25rem;
  }
  .sec-intro .intro-list .intro-list__item .intro-txt {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .sec-char .char-list {
    grid-gap: 4rem;
    width: 80%;
  }
  .sec-char .char-list .char-list__item {
    min-width: 160px;
    padding: 4rem;
  }
  .sec-char .char-list .char-list__item .char-img {
    width: 6rem;
    margin: 0 auto 4rem;
  }
  .sec-char .char-list .char-list__item .char-txt {
    font-size: 1.8rem;
  }
  .sec-char .char-btn {
    font-size: 2rem;
    width: 30rem;
    height: 6rem;
  }
  .st-footer {
    padding: 5rem 10rem;
  }
  .st-footer .footer-logo {
    right: 10rem;
  }
}
@media screen and (max-width: 680px) {
  html {
    font-size: 5px;
  }
  span {
    display: block;
  }
  .st-header .header-logo {
    width: 70px;
    padding: 10px;
  }
  .st-header .header-menu {
    display: none;
  }
  .sec-main {
    height: 60vw;
    background-size: cover;
    padding: 14vw 8vw 0;
  }
  .sec-main .main-title {
    font-size: 5rem;
    line-height: 6rem;
    text-align: left;
  }
  .sec-detail .detail-title {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-detail .detail-title:before, .sec-detail .detail-title:after {
    content: "";
    display: block;
    width: 15rem;
    height: 0.2rem;
    background-color: #666666;
    position: absolute;
    top: 2rem;
  }
  .sec-detail .detail-title:after {
    right: 20rem;
  }
  .sec-detail .detail-title::before {
    left: 20rem;
  }
  .sec-detail .detail-wrap .detail-subtxt {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .sec-detail .detail-wrap:nth-of-type(1) .detail-txtwrap {
    left: 30vw;
  }
  .sec-detail .detail-wrap:nth-of-type(1) .detail-subtxt {
    width: 48rem;
  }
  .sec-detail .detail-wrap:nth-of-type(2) {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  .sec-detail .detail-wrap:nth-of-type(2) .detail-txtwrap {
    max-width: 60rem;
  }
  .sec-detail .detail-wrap:nth-of-type(2) .detail-img {
    margin: 20rem 0 5rem 0;
  }
  .sec-intro .intro-title {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-intro .intro-title:before, .sec-intro .intro-title:after {
    content: "";
    display: block;
    width: 15rem;
    height: 0.2rem;
    background-color: #666666;
    position: absolute;
    top: 2rem;
  }
  .sec-intro .intro-title:after {
    right: 20rem;
  }
  .sec-intro .intro-title::before {
    left: 20rem;
  }
  .sec-intro .intro-list {
    margin: 0 10rem;
  }
  .sec-intro .intro-list .intro-list__item {
    flex-direction: column;
    margin-bottom: 15rem;
  }
  .sec-intro .intro-list .intro-list__item .intro-img {
    width: 40rem;
    margin-bottom: 5rem;
  }
  .sec-intro .intro-list .intro-list__item .intro-txt {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
  .sec-intro .intro-list .intro-list__item:nth-child(2) {
    flex-direction: column;
  }
  .sec-char .char-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
  }
  .sec-char .char-list .char-list__item {
    min-width: 110px;
    padding: 4rem 3rem;
  }
  .sec-char .char-list .char-list__item .char-img {
    width: 6rem;
    margin: 0 auto 4rem;
  }
  .sec-char .char-list .char-list__item .char-txt {
    font-size: 2.2rem;
  }
  .sec-char .char-btn {
    font-size: 2rem;
    width: 30rem;
    height: 6rem;
  }
  .st-footer {
    padding: 5rem 8rem;
  }
  .st-footer .footer-logo {
    right: 8rem;
  }
}